body{
	background-color:blue;
}

#wrapper{
	width:1000px;
	height: 321px;
	margin: auto;
	margin: 50px 100px 100px 100px;
	border: 4px solid black;
}

#header{
	width: 960px;
	height: auto;
	margin: auto;
	margin: 10px 10px 10px 10px;
	border: 2px dashed grey;
	padding: 5px;
	text-align: left;
	font-family: "Arial", sans-serif;
	font-size: 50%;
	color: red;
}

#leftbody{
	float: left;
	width: auto;
	margin-top: 5px;
	padding: 10px;
	border: 2px dashed white;
}


	padding:5px;
}
